<div style="text-align: center;" class="form-style-5">
    <div class="card-body">
        <h5 class="card-title"> {{titleForm}} </h5>
        <form>
            <div class="form-group row">
                <label for="idTourist" class="col-form-label col-sm-2">ID turista:</label>
                <div class="col-sm-6">
                    <input type="text"  class="form-control" name="idTourist" [(ngModel)]="touristForm.idTourist">
                </div>
            </div>

            <div class="form-group row">
                <label for="touristName" class="col-form-label col-sm-2">Nombre turista:</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="touristName" [(ngModel)]="touristForm.touristName">
                </div>
            </div>

            <div class="form-group row">
                <label for="touristLastname" class="col-form-label col-sm-2">Apellido turista:</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="touristLastname"
                        [(ngModel)]="touristForm.touristLastname">
                </div>
            </div>

            <div class="form-group row">
                <label for="birthDate" class="col-form-label col-sm-2">Fecha nacimiento:</label>
                <div class="col-sm-6">
                    <input type="date" class="form-control" name="birthDate" [(ngModel)]="touristForm.birthDate">
                </div>
            </div>

            <div class="form-group row">
                <label for="identification" class="col-form-label col-sm-2">Identificacion:</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="identification"
                        [(ngModel)]="touristForm.identification">
                </div>
            </div>

            <div class="form-group row">
                <label for="typeId" class="col-form-label col-sm-2">Tipo Identificacion:</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="typeId" [(ngModel)]="touristForm.typeId">
                </div>
            </div>

            <div class="form-group row">
                <label for="travelFrequency" class="col-form-label col-sm-2">Freciencia viaje:</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="travelFrequency"
                        [(ngModel)]="touristForm.travelFrequency">
                </div>
            </div>

            <div class="form-group row">
                <label for="travelBudget" class="col-form-label col-sm-2">Presupuesto viaje:</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="travelBudget" [(ngModel)]="touristForm.travelBudget">
                </div>
            </div>

            <div class="form-switch ">
                <input class="form-check-input"  type="checkbox" name="creditCard" [(ngModel)]="touristForm.creditCard"> 
                <label class="form-check-label" tfor="creditCard">Tarjeta de credito</label>
            </div>
            <button class="btn btn-outline-success" role="button" (click)='create()'> Aceptar </button>
            <button class="btn btn-outline-danger" type="button" [routerLink]="['/turista']"> Cancelar </button>
        </form>
    </div>
</div>