<div class="container">
  <h1>{{titulo}} </h1>
  <button class="btn btn-outline-secondary" type="button" [routerLink]="['/turista/form']">Agregar Turista</button>
  <table class="table" aria-describedby="registros turista">
    <thead>
      <tr>
        <th scope="col">ID Turista</th>
        <th scope="col">Nombre Turista</th>
        <th scope="col">Apellido Turista</th>
        <th scope="col">Fecha Nacimiento</th>
        <th scope="col">Identificacion</th>
        <th scope="col">Tipo Identificacion</th>
        <th scope="col">Freciencia viaje</th>
        <th scope="col">Presupusto Viaje</th>
        <th scope="col">Tarjeta de Credito</th>
        <th scope="col">Asignar Viaje</th>
        <th scope="col">Editar</th>
        <th scope="col">Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tourist of tourists">
        <th scope="row"> {{tourist.idTourist}} </th>
        <td> {{tourist.touristName}} </td>
        <td>{{tourist.touristLastname}}</td>
        <td> {{tourist.birthDate}} </td>
        <td> {{tourist.identification}} </td>
        <td> {{tourist.typeId}} </td>
        <td> {{tourist.travelFrequency}} </td>
        <td> {{tourist.travelBudget}} </td>
        <td> {{tourist.creditCard}} </td>
        <td> <button type="button" name="button" class="btn btn-outline-success"
            [routerLink]="['turista/formviaje',tourist.idTourist]"> Asignar </button></td>
        <td> <button type="button" name="button" class="btn btn-outline-primary"
            [routerLink]="['/turista/form',tourist.idTourist]"> Editar </button></td>
        <td> <button class="btn btn-outline-danger" (click)="delete(tourist)"> Eliminar </button></td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-outline-secondary" type="button" [routerLink]="['/viajes']">Lista Viajes</button>
  <button class="btn btn-outline-secondary" type="button" [routerLink]="['/historial']">Historial Viajes</button>
</div>