input[type=text] {
  padding:10px;
  margin:10px 0; 
	float: right;	
}

input[type=text] {
  border:0;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

label{
	padding: 15px;
}

.form-style-5{	
	max-width: 700px;
	padding: 0px;
	background: #f4f7f8;
	margin: 1em auto;
	background: #f4f7f8;
	border-radius: 8px;
	font-family: Georgia, "Times New Roman", Times, serif;
}
