<div class="form-style-5">

    <div class="card-body" style="text-align: center;">
        <h5 class="card-title"> {{title}} </h5>
        <form>
            <div class="form-group row">
                <label for="birthDate" class="col-form-label col-sm-2">Lugar de Viaje:</label>
                <div class="col-sm-6">
                    <select class="form-select" name="city" [(ngModel)]="travelForm.city">
                        <option selected *ngFor="let city of cities" [ngValue]="city"> {{city.cityName}} </option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="birthDate" class="col-form-label col-sm-2">Fecha de viaje:</label>
                <div class="col-sm-6">
                    <input type="date" class="form-control" name="birthDate" [(ngModel)]="travelForm.travelDate">
                </div>
            </div>
            <div class="form-group row">
                <label for="birthDate" class="col-form-label col-sm-2">Correo de Confirmacion:</label>
                <div class="col-sm-6">
                    <input type="text" type="email" class="form-control" name="mail" #mailConfirmation>
                </div>
            </div>
            <button class="btn btn-outline-success" role="button" (click)='create(mailConfirmation.value)'> Aceptar </button>
            <button class="btn btn-outline-danger" type="button" [routerLink]="['/turista']"> Cancelar </button>
        </form>
    </div>
</div>