<div class="container">
  <h1>{{titulo}} </h1>
  <table class="table" aria-describedby="registros viaje">
    <thead>
      <tr>
        <th scope="col">ID Viaje</th>
        <th scope="col">Fecha Viaje</th>
        <th scope="col">Ciudad Destino</th>
        <th scope="col">Lugar Más Turistico</th>
        <th scope="col">Nombre Turista</th>
        <th scope="col">Apellido Turista</th>
        <th scope="col">Identificacion Turista</th>
        <th scope="col">Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let travel of travels">
        <th scope="row"> {{travel.idTravel}} </th>
        <th scope="row"> {{travel.travelDate}} </th>
        <th scope="row"> {{travel.city.cityName}} </th>
        <th scope="row"> {{travel.city.touristicPlace}} </th>
        <th scope="row"> {{travel.tourist.touristName}} </th>
        <th scope="row"> {{travel.tourist.touristLastname}} </th>
        <th scope="row"> {{travel.tourist.identification}} </th>
        <td> <button class="btn btn-outline-danger" (click)="delete(travel)"> Eliminar </button></td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-outline-danger" type="button" [routerLink]="['/turista']"> Atrás </button>
</div>