<div class="container" style="align-items: center;">
  <h1> {{titulo}} </h1>
  <table  class="table" aria-describedby="Registro Historial">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre Ciudad</th>
        <th scope="col">Nombre Turista</th>
        <th scope="col">Identificacion Turista</th>
        <th scope="col">Fecha Registro</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let history of histories">
        <th scope="row"> {{history.idHistory}} </th>
        <td> {{history.cityName}} </td>
        <td>{{history.touristName}}</td>
        <td>{{history.touristIdentification}}</td>
        <td>{{history.admissionDate}}</td>
      </tr>
    </tbody>
  </table>
</div>
<button style='margin-left: 140px;' class="btn btn-outline-danger" type="button" [routerLink]="['/turista']"> Atrás </button>