<div>
  <h1 style="text-align: center;"> {{title}}  </h1>
</div>
<div id="divInput" class="marginDiv">
  <form>
  <div class="input-group mb-3">
    <button class="btn btn-outline-success" id="button-addon1" (click)="getweathercity(userinput.value)"> Buscar
    </button>
    <input type="text" placeholder="Introducir Nombre de Ciudad" class="form-control" #userinput>
  </div>
</form>
  <div *ngIf='weatherTem' id="divWeatherMain" Class="weatherWidgetRow margin2">
    <div *ngIf="weatherTem" class="weatherWidgetRow">
      <i class="fas fa-3x fa-sun sun"> <img *ngIf='weatherTem'
          src="http://openweathermap.org/img/wn/{{weatherTem.weather[0].icon}}@2x.png" /></i>
    </div>
    <div class="weatherWidgetRow cloudDiv">
      <i class="fas fa-cloud fa-3x "></i>
    </div>
    <div *ngIf='weatherTem' class="weatherWidgetRow" style="font-size: 32px;margin-top: 5px;">{{weatherTem.main.temp}}C°
    </div>
    <div *ngIf='weatherTem' class="weatherWidgetRow" style="font-size: 12px;">{{weatherTem.main.temp_min}}° /
      {{weatherTem.main.temp_max}}°</div>
    <div *ngIf='weatherTem' class="weatherWidgetRow" style="font-size: 12px;">Sensanción:
      {{weatherTem.main.feels_like}}°</div>
    <div *ngIf='weatherTem' class="weatherWidgetRow" style="font-size: 25px;margin-top: 10px;">{{weatherTem.name}}</div>
    <div *ngIf='weatherTem' class="weatherWidgetRow" style="font-size: 12px;">Humedad: {{weatherTem.main.humidity}}%
    </div>
    <div *ngIf='weatherTem' class="weatherWidgetRow" style="font-size: 12px;">Nubosidad: {{weatherTem.clouds.all}}%
    </div>
    <div *ngIf='weatherTem' class="weatherWidgetRow" style="font-size: 12px;">Clima:
      {{weatherTem.weather[0].description}}</div>
  </div>
</div>