#divWeatherMain{
  display: block;
  border-radius: 10px;
  width: 200px;
  height: 260px;
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(8,7,42,1) 75%, rgb(8, 10, 63) 100%);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  color: white;;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#divInput{
  display: block;
  border-radius: 10px;
  width: 320px;
  height: 260px;
}

.weatherWidgetRow{
  display:block;
  margin:0 auto;
  width: fit-content;
}

.sun{
  margin-top: 10px;
  color: white;
  filter: drop-shadow( 1px 1px 10px white);
}


.cloudDiv{
  margin-top: -40px;
}

.marginDiv{
  margin-top: 25px;
  margin-left: 520px;
}

.margin2{
  margin-top: 40px;
  margin-left: 80px;
}


