<div class="container">
  <h1>{{titulo}}</h1>

  <button class="btn btn-outline-secondary" type="button" [routerLink]="['/ciudad/form']">Agregar Ciudad</button>
  <button class="btn btn-outline-secondary" type="button" [routerLink]="['/pronostico']">Clima</button>

  <table class="table" aria-describedby="registros de ciudad">
    <thead>
      <tr>
        <th scope="col">ID Ciudad</th>
        <th scope="col">Nombre Ciudad</th>
        <th scope="col">Poblacion</th>
        <th scope="col">Lugar Más Turistico</th>
        <th scope="col">Hotel Más Reservado</th>
        <th scope="col">Editar</th>
        <th scope="col">Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let city of cities">
        <th scope="row"> {{city.idCity}} </th>
        <td> {{city.cityName}} </td>
        <td> {{city.touristicPlace}} </td>
        <td> {{city.amountPopulation}}</td>
        <td> {{city.reservedHotel}} </td>
        <td> <button type="button" name="button" class="btn btn-outline-primary"
            [routerLink]="['/ciudad/form',city.idCity]"> Editar </button></td>
        <td> <button class="btn btn-outline-danger" (click)="delete(city)"> Eliminar </button></td>
      </tr>
    </tbody>
  </table>
</div>