<div style="text-align: center;" class="form-style-5">
    <div class="card-body form">
        <h5 class="card-title"> {{titleForm}} </h5>
        <form >  

            <div class="form-group row" >
                <label for="idCity" class="col-form-label col-sm-2">ID ciudad:</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="idCity" [(ngModel)]="cityForm.idCity">
                </div>
            </div>

            <div class="form-group row " >
                <label for="cityName" class="col-form-label col-sm-2">Nombre ciudad:</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="cityName" [(ngModel)]="cityForm.cityName">
                </div>
            </div>

            <div class="form-group row">
                <label for="amountPopulation" class="col-form-label col-sm-2">Poblacion:</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="amountPopulation"
                        [(ngModel)]="cityForm.amountPopulation">
                </div>
            </div>

            <div class="form-group row ">
                <label for="touristicPlace" class="col-form-label col-sm-2">Lugar más turistico:</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="touristicPlace" [(ngModel)]="cityForm.touristicPlace">
                </div>
            </div>

            <div class="form-group row">
                <label for="reservedHotel" class="col-form-label col-sm-2">Hotel más reservado:</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="reservedHotel" [(ngModel)]="cityForm.reservedHotel">
                </div>
            </div>

        <div>
            <button class="btn btn-outline-success" role="button" (click)='create()'
                *ngIf="!cityForm.idCity else elseblock"> Aceptar </button>
            <ng-template #elseblock>
                <button class="btn btn-outline-success" role="button" (click)='update()'> Aceptar </button>
            </ng-template>

            <button class="btn btn-outline-danger" type="button" [routerLink]="['/ciudad']"> Cancelar </button>
        </div>
        </form>
    </div>
</div>