<router-outlet>
  <div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
        aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" [routerLink]="['']"><img   src="/assets/aa4.png" alt="" /></a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" style="font-size: 30px;" [routerLink]="['/ciudad']">Ciudad </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" style="font-size: 30px;" [routerLink]="['/turista']">Turista </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  
</router-outlet>
